* text=auto !eol
/Makefile -text
/apertium-ron-ian.ian.dix -text
/apertium-ron-ian.ron-ian.dix -text
/apertium-ron-ian.ron-ian.t1x -text
/apertium-ron-ian.ron.dix -text
dev/iawiki.filter.text -text
dev/interlingua_frequency -text
